<!DOCTYPE html>
<html>

	<head>
	  <title>Meetopia</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>

	<body>

		<h1>Welcome to the meeting rooms page</h1>

		<% test_str = "...some railsy stuff to go here..." %>

		<p>Here is the current state of play with the meeting rooms:</p>

		<ul id="menu">
			<li>Kingston</li>
			<li>Elbistan</li>
			<li>Grimsby</li>
			<li>Cust. Exp. 1</li>
			<li>Cust. Exp. 2</li>

		</ul>

		<h2> or Headings </h2>

		<h2>Kingston</h2>

		<h2>Elbistan</h2>

		<h2>Grimsby</h2>

		<h2>Cust. Exp. 1</h2>

		<h2>Cust. Exp. 2</h2>


		<%= test_str =%>

	</body>

</html>