// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$font-stack:    Helvetica, sans-serif;
$primary-color: #999;
$busy: red;
$free: green;

ul#menu li {
    display:inline;
}

body {

	background-color: #000;

	h1 {
		color:white;
	}

  font: 100% $font-stack;
  color: $primary-color;
}

.busy_square {
	width: 	100px;
	height: 100px;
	background: $busy;
}

.free_square {
	width: 	100px;
	height: 100px;
	background: $free;
}