// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$font-stack:    Helvetica, sans-serif;
$primary-color: white;
$busy: red;
$free: green;

ul#menu li {
    display:inline;
}

body {

	background-color: #000;

	h1 {
		color:white;
	}

  font: 100% $font-stack;
  color: $primary-color;
}

table {
	width: 100%;
	text-align: center;
}

.busy_td {
background-color: $busy;
}

.free_td {
background-color: $free;
}


.busy_square {
	width: 	300px;
	height: 300px;
	background: $busy;
	text-align: center;
	line-height: 300px;
}

.free_square {
	width: 	300px;
	height: 300px;
	background: $free;
	line-height: 300px;
	text-align: center;
}